PORT=8000
#log
LOG_TYPE = daily #or stack
#database connection
MONGO_URI=
#JWT
JWT_SECRET=supersecret
JWT_REFRESH_SECRET=refreshsecret
JWT_EXPIRATION=24h
JWT_REFRESH_EXPIRATION=30d
#stripe
STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=http://localhost:3000/payment/success
STRIPE_CANCEL_URL=http://localhost:3000/payment/cancel
STRIPE_WEBHOOK_SECRET=
#mail
MAIL_HOST=
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
FRONTEND_URL=http://localhost:3000
#redis
REDIS_HOST=redis
# REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=